html {
    scroll-behavior: smooth;
}

.page-body {
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;
}

.title {
    background: url("../img/sectionsBackground/section-1(header).jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.header-wrapper {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header-links {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.header-link-text {
    margin-left: 21px;
    color: #FFFFFF;
}
.header-link-text:hover{
    color: #18CFAB;
}
.logo {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-right: 284px;
    margin-left: 6px;
}
.logo:before{
    content: "H";
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    left: 13px;
}
.logo-search {
    margin-left: 21px;
}

span {
    color: #18CFAB;
}

.intro-title {
    margin-bottom: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
}

.intro-slogan {
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    font-weight: 700;
    font-size: 78px;
}

.intro-subtitle {
    text-align: center;
    color: #D4D4D4;
    font-weight: 400;
    font-size: 34px;
    margin-top: 22px;
    margin-bottom: 0;
}

.wrapper {
    margin-top: 129px;
}

.inputs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.input-button {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 22px 15px 12px;
    width: 168px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color .5s .2s;
}

.left-btn {
    border-top: 5px solid #FFFFFF;
    background-color: #18CFAB;
}

.right-btn {
    margin-left: 26px;
    border-top: 5px solid #FFFFFF;
    background-color: #00CBF6;
}

/*<==========================OPTIONS===========================>*/

.options {
    margin-top: 8px;
}

.options-inputs-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options-input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    width: auto;
    height: 377px;
}

.first {
    background-color: #1C2A33;
    color: #18CFAB;
}

.second {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.third {
    background-color: #1C2A33;
    color: #18CFAB;
}

.fourth {
    background-color: #18CFAB;
    color: #FFFFFF;
}

/*<==========================OUR SERVICES===========================>*/

.section-title {
    margin: 83px 0 20px 0;
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
}

ul {
    list-style: none;
    padding-left: 0;
}

.tabs-content-list {
    margin: 28px 0 0 0;
}

.tabs-content {
    display: none;
    margin-bottom: 90px;
}

.wrapper-tabs {
    display: flex;
}

.tabs-text {
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.show {
    display: block;
}

.services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    margin: 0;
}

.tabs-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 72px;
    padding: 16px;
    background: #F8FCFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    cursor: default;
    border: 1px solid #EDEFEF;
}
.tabs-title:hover{
    border: 1.5px solid #18CFAB
}
.tabs-title.active {
    position: relative;
    background-color: #18CFAB;
    color: #ffffff;
}
.tabs-title.active:after{
    content: "";
    display: block;
    position: absolute;
    background: url("../img/kytochok.png");
    width: 27px;
    height: 15px;
    top: 70px;
}

/*<==========================PURCHASE NOW===========================>*/

.purchase-title {
    margin: 126px 0 12px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
}

.purchase-now {
    height: 476px;
    background: url("../img/sectionsBackground/section-2.jpg") no-repeat;
    background-size: 100%;
}

.purchase-wrapper {
    height: 476px;
    background: rgba(0, 0, 0, 0.7);
}

.purchase-subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.btn-name {
    margin-top: 62px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 10px 16px 10px;
    width: 168px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color .5s .2s;
    border: 0;
    border-top: 5px solid #FFFFFF;
    background-color: #18CFAB;
    cursor: pointer;
}

/*<==========================OUR AMAZING WORK===========================>*/

.portfolio {
    background: #E9EDEF;
    padding-top: 105px;
    padding-bottom: 77px;
}

.section-divide-top {
    margin-bottom: 1px;
    margin-left: 535px;
    width: 80px;
    height: 4px;
    color: #18CFAB;
}

.section-divide-button {
    margin-top: 1px;
    margin-left: 548px;
    margin-bottom: 69px;
    width: 80px;
    height: 4px;
    color: #18CFAB;
}

.great-work {
    margin-bottom: 70px;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.0001);
    font-weight: 400;
    font-size: 14px;
    color: #717171;
}

.great-work-item {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    line-height: 42px;
    padding: 14px 40px;
    border: 1px solid #DADADA;
    cursor: pointer;
}
.great-work-item:hover{
    border: 1px solid #18CFAB;
    color: #18CFAB;
}
.great-work-item.great-active{
    border: 1px solid #18CFAB;
    color: #18CFAB;
}
.portfolio-list-item {
    display: none;
    position: relative;
    overflow: hidden;
}
.portfolio-show{
    display: block;
}
.portfolio-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-image {
    height: 100%;
}

.hidden-block {
    position: absolute;
    bottom: -218px;
    right: 0;
    padding: 46px;
    text-align: center;
    background: #E9EDEF;
    width: 100%;
    height: 100%;
    transition: bottom 0.6s;
}
.chain{
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    border: 2px solid #18CFAB;
    display: inline-block;
}
.chain:before{
    position: absolute;
    content: "";
    display: block;
    background-image: url(../img/chaine1.svg);
    background-color: #E9EDEF;
    width: 14px;
    height: 14px;
    left: 12px;
    top: 12px;
}
.chain:hover{
    background-color: #18CFAB;
}
.square{
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    border: 2px solid #18CFAB;
    display: inline-block;
}
.square:before{
    position: absolute;
    content: "";
    display: block;
    background: url("../img/squere.png");
    width: 12px;
    height: 12px;
    left: 13px;
    top: 13px;
}
.square:hover{
    background-color: #18CFAB;
}
.title-hidden-block {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}

.text-hidden-block {
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
}

.portfolio-list-item:hover .hidden-block {
    bottom: 0;
    border-top: 2px solid #18CFAB;
}


/*<=====================Breaking News=============================>*/

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    grid-column-gap: 33px;
    grid-row-gap: 45px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 50px;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 68px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    background: #203E38;
}
.menu-item:hover .date{
    background: #18CFAB;
}
.date-text{
    margin: 0;
}

.menu-item {
    position: relative;
    overflow: hidden;
}

.menu-item-title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}
.menu-item:hover .menu-item-title{
    color: #18CFAB;
}

.menu-item-text {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

/*<===============================RESPONSE====================================>*/

.response{
    background: url("../img/sectionsBackground/section-3.jpg") no-repeat;
    background-size: cover;
    min-height: min-content;
}
.response-section-title{
    margin: 98px 0 20px 0;
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
}

ul {
    list-style: none;
    padding-left: 0;
}

.response-content-list {
    margin: 0;
}

.response-tabs-content {
    display: none;
    margin-bottom: 90px;
}

.photo{
    border-radius: 100px;
    border: 12px solid rgba(31, 218, 181, 0.2);
    height: 166px;
    width: 166px;
}
.icons{
    border-radius: 100px;
    border: 6px solid rgba(31, 218, 181, 0.2);
    height: 70px;
    width: 70px;
}
.response-tabs-text {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 37px;
    padding-left: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
}
.response-name{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
}
.response-prof{
    margin-top: 12px;
    margin-bottom: 38px;
    color: #BBBBBB;
}
.response-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.response-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.response-tabs {
    display: flex;
    margin: 0;
    position: relative;
}
.response-tabs-title:hover{
    transform: translate(-0px, -20px);
}

.response-tabs-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #937341;
    cursor: pointer;
}
.response-wrapper-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.tab-pointer{
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
}
.tab-pointer:hover{
    background: #18CFAB;
}
.tab-pointer:hover{
    background: #18CFAB;
}
.left{
    position: relative;
    margin-right: 34px;
}
.left:after{
    position: absolute;
    content: "";
    display: block;
    background: url("../img/pointer-left.png");
    width: 10px;
    height: 15px;
    top: 8px;
    right: 10px;
}
.right{
    position: relative;
    margin-left: 34px;
}
.right:after{
    position: absolute;
    content: "";
    display: block;
    background: url("../img/pointer-right.png");
    width: 10px;
    height: 15px;
    top: 8px;
    left: 10px;
}

/*.cool:hover{*/
/*    object-position: 0 -40px;*/
/*}*/
.response-tabs-title:not(:last-child){
    padding-right: 38px;
}
.response-tabs-title.response-active {
    color: #ffffff;
}
.footer{
    background: #22353F;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding-top: 47px;
    padding-bottom: 47px;
    text-align: center;
}